@import "./variables.scss";

.toolbar {
  height: 75%;
  width: $toolbar-weight;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  box-shadow: 2px 2px 15px grey;
  border-radius: 0 10px 10px 0;
  z-index: 9;

  &__btn {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-top: 10px;
  }

  .brush{
    background: url("../assets/image/brush.png") no-repeat center center;
  }

  .circle{
    background: url("../assets/image/circle.png") no-repeat center center;
  }

  .eraser{
    background: url("../assets/image/eraser.png") no-repeat center center;
  }

  .rect{
    background: url("../assets/image/rect.png") no-repeat center center;
  }

  .redo{
    background: url("../assets/image/redo.png") no-repeat center center;
  }

  .save{
    margin-bottom: 10px;
    background: url("../assets/image/save.png") no-repeat center center;
  }

  .undo{
    margin-top: auto;
    background: url("../assets/image/undo.png") no-repeat center center;
  }
}

.setting-bar{
  height: $toolbar-height;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  box-shadow: 0 2px 15px grey;
  border-radius: 0 0 10px 10px;
  left: 25%;
}